<div class="SongTile">
    <div class="ImageFrame">
        <img [src]="song.imageURL" alt="{{song.album}}">
    </div>
    <div class="InfoFrame">
        <div class="Info">
            <div class="Line">
                <p class="bigText">{{song.artist}}</p>
                <p class="bigText">{{song.name}}</p>
            </div>
            <div class="Line">
                <p class="smallText">{{song.year}}</p>
                <p class="smallText">{{song.album}}</p>
            </div>
        </div>
        <div class="Info">
            <div class="Line">
                <p class="smallText">Length <span class="darkText">:</span> {{visualLength}}</p>
                <p class="smallText">Note Count <span class="darkText">:</span> {{song.noteCount}}</p>
                <p class="smallText">NPS <span class="darkText">:</span> {{song.NPS}}</p>
            </div>
        </div>
        <div class="PlayTile">
            <img src="https://static.enchor.us/instrument-guitar.png">
            <div class="DifficultyMeter">
                <p>{{visualDifficulty}}<span class="darkText">{{visualDifficultyBlank}}</span></p>
            </div>
            <div class="PlayButton">
                <p>PLAY</p>
            </div>
        </div>
    </div>
    
</div>
