p {
    cursor: default;
}

.bigText {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.smallText {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.darkText {
    color: rgba(255, 255, 255, 0.50);
}

.SongTile {
    display: flex;
    width: 940px;
    height: 300px;
    align-items: center;
    
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.50);

    backdrop-filter: blur(2px);
}

.ImageFrame {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    
    /* within SongTile */
}

.ImageFrame img {
    width: 240px;
    height: 240px;
    flex-shrink: 0;
    border-radius: 15px;
}

.InfoFrame {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;
    
    /* within SongTile */
}

.Info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    align-self: stretch;

    /* within InfoFrame */
}

.Line {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    /* within Info */
}

.PlayTile {

    display: flex;
    height: 66px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 72px;
    background: rgba(0, 0, 0, 0.50);

    /* within InfoFrame */
}

.PlayTile img {
    width: 66px;
    align-self: stretch;
    aspect-ratio: 1/1;
}

.DifficultyMeter {
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    /* within PlayTile */
}

.DifficultyMeter p {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.PlayButton {
    display: flex;
    width: 168px;
    height: 57px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    border: double 5px transparent;
    border-radius: 80px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), radial-gradient(circle at top left, var(--g1), var(--g0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    /* within PlayTile */
}

.PlayButton:hover {
    height: 47px;
    width: 158px;
    border-width: 10px;
    box-shadow: 0px 0px 12px 0px var(--g1);
    
}

.PlayButton p {
    color: #FFF;
    font-family: Oxanium;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

