/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Oxanium', sans-serif;
}

body {
  background-color: #221e22;
  background-size: cover;
  overflow: hidden; /* prevent scrollbars if pseudo-element overflows */
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("assets/tempBackground.png");
  background-size: cover;
  background-position: center;
  z-index: -1; /* keep it behind content */
  filter: hue-rotate(0deg);
  animation: hueShift 60s linear infinite;
}

@keyframes hueShift {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}