.SongList {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 940px;
    height: 75vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none; 

    mask: linear-gradient(
        to bottom,
        transparent 0px,
        black 20px,
        black calc(100% - 20px),
        transparent 100%
    );
    -webkit-mask: linear-gradient(
        to bottom,
        transparent 0px,
        black 20px,
        black calc(100% - 20px),
        transparent 100%
    );
}