.whole {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar {
  display: flex;
  width: 880px;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;

  border-radius: 15px;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(2px);
}

.navbarContents {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbarContents a {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.navbarAccount {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.navbarAccount a {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbarAccount img {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  border-radius: 43px;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
}


.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}