<div class="whole">
<div class="navbar">
  <div class="navbarContents">
    <a class="hover-underline-animation" routerLink="/home">Home</a>
    <a class="hover-underline-animation" routerLink="/browse">Browse</a>
    <a class="hover-underline-animation">About</a>
  </div>
  <div class="navbarAccount">
    
    <a>ROTOJ</a>
    <img src="https://cdna.artstation.com/p/assets/images/images/047/790/464/large/leedle-man-luigi-s-mouthful-mode.jpg?1648463166">
  </div>
</div>

<router-outlet></router-outlet>
</div>
