<div class="whole">
<div class="navbar">
  <div class="navbarContents">
    <a class="hover-underline-animation" routerLink="/home">Home</a>
    <a class="hover-underline-animation" routerLink="/browse">Browse</a>
    <a class="hover-underline-animation">About</a>
  </div>
  <div class="navbarAccount">
    
    <a>Awesome Username</a>
    <img src="https://media.istockphoto.com/id/533499047/photo/3d-penguin-looking-cool.jpg?s=612x612&w=0&k=20&c=sq0lX4BeaQj5wJeQU5J4IeFmZ3scjbJnOhtcwhJHPnI=">
  </div>
</div>

<router-outlet></router-outlet>
</div>
